            
h1 {
    color: rgb(20, 91, 150);
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    
    margin-left: 1100px;

}

/* .header * {
    border: solid;
    

} */

body{
    background-color:#f3bcbc;
}

.header {
    background-color: rgb(176, 230, 230);
    display:flex;
    justify-content: space-between;
   
}

.games {

    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.footer {

    display: flex;
    justify-content: flex-end;

    
}

p,h3,h2{

    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    
}

.top{
    
    display:flex;
    justify-content:space-between;
}

.menu{

    display: flex;
    margin-right: 50px ;


}

a:link {
    color: rgb(20, 91, 150);
}

a:visited{

    color: rgb(20, 91, 150);
}

.menu a{
    margin-right: 20px;
    margin-top: 20px;
}

.game{

    margin-top: 80px;
    margin-right: 20px;
    margin-left: 10px;
    position: relative;

}

.game h2{
    position: absolute;
    top :40%;
    left: 15%;
    opacity:0;
    color:rgb(20, 91, 150);
}

.game:hover h2{
    opacity: 1;
}

.game:hover img{

    opacity: 0.3;
}

.description{

    margin-top: 40px;

}

.paragraph h3{
    
    display: flex;

    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 50px;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(5, 126, 126);
    font-size: x-large/;



    
}

.email{


    color: rgb(5, 126, 126);
    font-size: xx-large;

}

